<a href="https://colab.research.google.com/github/MuntahaTazeem5/Data-Structures-Projects/blob/main/Student_record.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Student Record (count, index, unpack, concatenation, repetition)**

*Description: *
Use tuple for storing student’s immutable data (name, roll, grade).

*Instructions:*

Tuple: ("John", "101", "A", "101").

Use count("101") → appears twice.

Use index("A") → find grade.

Repeat: ("Holiday",) * 3 → ("Holiday", "Holiday", "Holiday").

In [1]:
tuple=("John","101","A","101")

In [2]:
tuple.count("101")

2

In [3]:
tuple.index("A")

2

In [8]:
("Holiday",) * 3

('Holiday', 'Holiday', 'Holiday')

In [9]:
print(tuple)

('John', '101', 'A', '101')